@font-face {
    font-family: '喵字果汁体';
    src: url('./fonts/mzgzt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --font-family: 'Cascadia Code', '喵字果汁体', 'Noto Sans SC', 'Microsoft YaHei', sans-serif;
}

mark,
a,
div,
span,
body {
    font-family: var(--font-family);
}

// 引用
blockquote {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 16px;
    margin-top: 16px;
    padding: 10px 10px 10px 20px;
    font-size: 0.9em;
    background: rgb(244, 248, 253);
    border-left: 5px solid #166ff3;
    overflow: auto;
    box-shadow: 3px 8px 10px 2px rgb(173 173 173);
}


// 高亮
mark {
    font-weight: bold;
    background-color: transparent;
    color: #ff6b6b;
}